body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}
/* below is the class for the todo text portion */
.time-block {
  text-align: center;
  border-radius: 15px;
}
/* created a transparent border for the text area */
.text-area{
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  padding: none;
}
/* below is the class for the div container that it is all wrapped in */
/* need to change the color back to white instead of black */
.row {
  white-space: pre-wrap;
  height: 83px;
  border-top: 5px solid white;
}

/* below is the class for the time block on the left */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}
.newD{
  border: 2px solid white;
  padding: 0;
}
.future {
  background-color: #77dd77;
  color: white;
}

/* for the save button on the left side of the todo list */
.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5; 
  /* border-top: 5px solid black; */
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
